﻿body.normal {
	background-color: #0f1626;
	color: #f5f5f5;
}

.navbar-custom {
    background-color: #ab987a;
}

.navbar-custom .navbar-brand {
	color: #0f1626
}

.navbar-custom .navbar-text {
    color: #f5f5f5;
}

.navbar-custom .navbar-nav .nav-link {
    color: #f5f5f5;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #f5f5f5;
}

.navbar-nav > li.active {
	background-color: #564c3d;
	border-color: #564c3d;
}

.navbar-nav > li > a {
	color: #f5f5f5;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-caption > h3, .carousel-caption > p {
	color: #0f1626;
	text-shadow: 1px 1px #f5f5f5;
}

div.list-group {
	background-color: #564c3d !important;
	border-color: #564c3d;
}

a.list-group-item, .list-group-item-force-color {
	border-color: #564c3d !important;
	background-color: #ab987a;
}

.panel-custom {
	border-color: #564c3d;
	background-color: #ab987a !important;
	color: #0f1626;
}

.panel-custom > .panel-heading {
	margin: 0 auto;
	border-color: #564c3d;
	background-color: #564c3d;
	color: #f5f5f5;
}

.panel-custom > .panel-body {
	border-color: #564c3d;
	background-color: #ab987a;
	color: #0f1626;
}

/*canvas.cubes {
	position: absolute;
	right: 20px;
	top: 20px;
}*/

/*
navyblue #0f1626
leather #ab987a
leather-darker #564c3d
coral #ff533d
eggshell #f5f5f5
*/